<% errorinfo = nil %>
<% if params[:send] != nil %>

<% end %>

<div class="grid_products">
  <div class="products_list">
    <% itemclass="product_item"
      if params['id'] == nil || params['id'] == 'info'
        itemclass="product_item_select"
      end
      item = "<div class=\"#{itemclass}\"><a href=\"/contact?id=info\">
          Contact Information</a></div>" %>
    <%= item %>

    <% itemclass="product_item"
      if params['id'] == 'email'
        itemclass="product_item_select"
      end
      item = "<div class=\"#{itemclass}\"><a href=\"/contact?id=email\">
          E-Mail us</a></div>" %>
    <%= item %>
  </div>
  <div class="products_details">
    <% if params['id'] == nil || params['id'] == 'info' %>
      <h1>Contact Information</h1>
      <p>Tel: (123) 456-7890</p>
      <p>Fax: (123) 456-7890</p>
      <p>e-mail: anyone@anywhere.any</p>
    <% elsif params['id'] == 'email' %>
      <h1>E-Mail us: </h1>
      <form action="/contact">
        <div class="emailform">
          <label for="email_subject">Subject: </label>
          <input type="text" name="email_subject" value="" />
        </div>
        <div class="emailform">
          <label for="email_content">Content: </label>
          <textarea name="email_content" rows="8" cols="80"></textarea>
        </div>
        <input type="submit" name="send" value="Send">
      </form>
      <%= "<div class=\"\">#{errorinfo}</div>" %>
    <% end %>
  </div>
</div>
