<form class="editform" action="index.html" method="post">
  <input type="text" name="title" value="">
  <input type="text" name="article" value="">
  <input type="button" name="Submit" value="Submit">
</form>
