<h1 class="art-title">Introduction</h1>
<div class="art-content">
<img src="/img/logo.jpg" alt="company logo">
<p>Established in 2030.</p>
<p>Closed in 2100.</p>
<p>&#36;100m revenue per year.</p>
<% ['E','F','T','I','S','Whatever'].each { |x| %>
  <p>C<%= x %>O: George Donald.</p>
<% } %>
</div>
