
<%
begin
file = File.open("products.xml")
doc =  Nokogiri::XML(file)
%>
<%= params['id'] %>
<div class="grid_products">
  <div class="products_list">
    <% doc.xpath("//product").each { |p|
      item = "<div> <a href=\"/products?id=" +
        p.css('id').inner_html +
        "\">" + p.css('name').inner_html + "</a></div>"
    %>
    <%= item %>
    <% } %>
  </div>
  <div class="products_details">
  </div>
</div>

<%
rescue
%>
<p>We have no product yet.</p>
<p>Click "Edit" to add some products.</p>
<%
end
%>
