$clr_bkgrnd: rgb(162,162,248);
$clr_bkgrnd_banner: rgb(62,62,248);
$bodywidth: 800px;
$headerheight: 120px;
$headbannerheight: 80px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  opacity: 1;
}

body {
  background-color: $clr_bkgrnd;
}

header {
  position: fixed;
  width: 100vw;
  height: $headerheight;
  left: 0;
  top: 0;
  background-color: $clr_bkgrnd_banner;
  overflow: hidden;
}

header > *, article, footer {
  width: $bodywidth;
  left: calc((100vw - #{$bodywidth}) / 2);
}

header > * {
  display: block;
  position: fixed;
  color: white;
}

.head_banner {
  height: $headbannerheight;
  top: 0;
}

.header_banner_item {
  display: inline-block;
  height: $headbannerheight;
  top: 0;
}

#company_name p {
  line-height: $headbannerheight;
  font-family: sans-serif;
  font-size: 2em;
}

#logo img {
  width: $headbannerheight;
  background-size: 100% 100%;
}

#time {
  right: 0;
  float:right;
  font-family: sans-serif;
  font-size: 1.5em;
}

.head_nav {
  height: calc(#{$headerheight} - #{$headbannerheight});
  top: $headbannerheight;
}

.nav_tag {
  display: inline-block;
  font-size: 1.5em;
  background-color: rgb(32,32,150);
  text-align: center;
  width: 160px;
  height: 100%;
  line-height: calc(#{$headerheight} - #{$headbannerheight});
  a {
    text-decoration: none;
    color: white;
  }
}

article, footer {
  display: block;
  position: relative;
}

article {
  margin-top: $headerheight;
}

.art-content {
  color: white;
  font-family: monospace;
  font-size: 1.5em;
  p {
    text-indent: 15px;
  }
}

.art-content img{
  float: left;
  clear: right;
  width: 150px;
  height: 150px;
  background-size: 100% 100%;
}

.product_img {
  float: right;
  clear: left;
  width: 150px;
  height: 150px;
  background-size: 100% 100%;
}

.product_name {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 3em;
  font-weight: bold;
  font-family: sans-serif;
}

.product_details {
  font-size: 2em;
  margin-top: 8px;
  margin-bottom: 8px;
}

.product_item {
  a {
    text-decoration: none;
    font-size: 1.5em;
    font-family: fantasy;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.grid_products {
  display: grid;
  grid-template-columns: 20% 1fr;
  .products_list {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }
  .products_details {
    margin-left: 20px;
  }
}
